* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body  {
    font-family: 'Rufina', serif;
    overflow-x: hidden;
}
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* background-color: black; */
    width: 100%;
}
.logo img {
    width: 130px;
    margin: 20px 0;
    margin-right: 160px;
    color: black;

}
.number p {
    color: yellowgreen;
    margin: 40px 0 0 80px;
    margin-right: 40px;
    font-weight: lighter;

}

nav ul {
    margin: 40px 20px 0;

}
nav ul  li{
    list-style: none;
    display: inline-block;
    margin: 0 10px 0;
}
nav ul li a {
    color: black;
text-decoration: none;
font-weight: 600;
}
#menubtn   {
    display: none;
}
#closebtn {
    display: none;
}





@media (max-width:770px) {
    nav ul li {
        display: block;
        color: white;
    }
    nav ul li a {
        color: white;
    }
    .number {
        border: 0.1px solid rgba(0,0,0,0.1);
        height: 50px;
        text-align:center;
        align-items: center;
    }

    nav ul {
        position: absolute;
        background:black;
        height: 60vh;
        width: 600px;
        top: 0%;
        right: 0px;
        text-align: center;
        z-index: 2;
        display: block;
        

    }
     #menubtn {
        display: block;
        color:yellowgreen;
        z-index: 1;
        font-size: 22px;
        cursor: pointer;
    text-align: right;
    }
    nav hr {
        padding: 30px;
        display: block;
    }
    #closebtn {
        display: block;
        color: black;
        cursor: pointer;
        margin: 10px;
    }
    nav ul {
        padding: 30px;
    }
  
    .number p {
        color: yellowgreen;
        margin:20px 0 0;
        align-items: center;
        text-align: center;
        margin-right:0;
        font-weight: lighter;
    
    }
    nav {
        flex-direction: column;
    }
}
       /* ----box----- */
       .box {
           width: 100%;

       }
       .box-1 {
           background:linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1), rgba(0,0,0,0.1),rgba(0,0,0,0.1), rgba(160,169,64)),url(images/bg-02-free-img.jpg);
           height: 130vh;
           width: 100%;
           background-size: cover;
           background-position: center;
       }
       .box-2 {
           background-color: rgb(160,169,64);
           width: 100%;
           height: 70vh;
       }
       .box-2 h1 {
           text-align: center;
           font-weight: 600;
           font-size: 50px;
           line-height: 60px;
           font-family: Rufina, serif;
           color: #fff;
       }
       .box-2 h4 {
        text-align: center;
        margin: 10px 0 0;
        font-weight: 700;
        font-size: 30px;
        line-height: 42px;
        font-family: Rufina, serif;
        color: #fff;

    }
    .box-2 .fas {text-align: center;
        display: block;
        margin: 30px 0 0;
        color: #fff;
    }
    .box-2 a {text-align: center;
        display: block;
        font-weight: 700;
        font-size: 15px;
        line-height: 26px;
        color: #fff;
        margin: 20px 0 0;
    }
    .box-2 .row {
        margin: 30px 0px 0;
        justify-content: space-evenly;
        display: flex;

        flex-direction: row;
    }
    .col-box-1 {
        flex-basis: 40%;
        height: 700px;
        width: 570px;
        margin: 0 160px 0;
    }
    .col-box-1 img {
        width: 100%;
    }
    .col-box-2 {
        flex-basis: 25%;
        margin-right: 170px;
        margin-top: 100px;
    }
    .col-box-2 h1 {
        color: black;
        font-weight: 300;
        text-align: left;
    }
    .col-box-2 p {
        color: grey;
        letter-spacing: 1px;
        line-height: 25px;
        margin-top: 9px;

    }
    .col-box-2 h6 {
        margin-top: 6px;
        font-weight: bold;
        letter-spacing: 1px;
    }
    .col-box-2 .fas {
        color: green;
        text-align: left;
        align-items: center;
        display: inline-block;
        margin-right: 10px;
    }
    .col-box-2 h5 {
        margin: 0 14px 0;
        font-weight: lighter;
        letter-spacing: 1px;
        color: grey;
    }
    /* ====facilities=== */
    .facilities {

        max-width: 1080px;
        padding-left: 240px;
        padding-right: 25px;
        padding-top: 50%;
    }
    .title {
        text-align: center;

        margin: 0 120px 80px;
        position: relative;
        line-height: 60px;
        color: black;
        font-size: 40px;
        font-weight: 500;
        line-height: 52px;
        font-family: Rufina, serif;
        }
        .title::after {
            content: '';
            background: #A0A940;
            width: 80px;
            border-radius: 5px;
            left: 50%;
            position: absolute;
            bottom: 0;
            height: 1px;
            transform: translateX(-50%);
    
        }
        .facilities .row {
            display: flex;
            flex-direction: row;
        margin-left: 40px;
        justify-content: space-evenly;
        }
        .fac-col-1 {
            margin: 0 24px 0;
            width: 330px;
            height: 600px;
        }
        .fac-col-1 h3 {
            font-size: 30px;
            line-height: 42px;
            font-weight: 500;
            margin-top: 10px;
        }
        .fac-col-1 p {
            font-size: 17px;
            color: grey;
            line-height: 22px;
            font-weight:lighter;
            margin-top: 10px;
            margin-bottom: 30px;

        }
        .fac-col-1 a {
            font-size: 12px;
            text-decoration: none;
            letter-spacing: 2px;
            color:#A0A940;
        }

        .line {
            margin-top: 7%;
            margin-bottom: 100px;
            /* padding-left: 10px; */
            /* padding-right: 10px; */
        /* width: 70%; */
        text-align: center;
        background-color:  #555;
        margin-left: 120px;
        margin-right: 120px;
        height: 1px;

    }
    @media (max-width:770px) {
        .facilities .row {
            display: flex;
            flex-direction: column;
        justify-content: space-evenly;   
    }
}
    /* --testimonials---- */
    .testimonials {
        background:linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)), url(images/bg-01-free-img.jpg);
background-position: center;
background-size: cover;
padding-top: 10%;
        
    
        height: 130vh;
        /* margin-bottom: 30px; */
    }
    .testimonials {
        text-align: center;
    }
    .testimonials .fas {
        color: #F0AD4E;
    }
    .testimonials h1 {
        padding: 20px 0 0;
        font-size: 40px;
        line-height: 52px;
        font-weight: 700;
        font-family: Rufina, serif;
        color: #fff;
    }
    .testimonials h6 {
        font-size: 15px;
        font-weight: 700;
        color: #fff;
        padding: 20px 0 0;
    }
    .testimonials img {
        border-radius: 50%;
        margin-top: 80px;
    }
    .testimonials #qte {
        position: relative;
        left: 5%;
        top: 1%;
        color: #fff;
        font-size: 25px;
        /* display: block; */
    }
    .testimonials p {
        padding: 20px 0 0;
        color: #fff;
        font-weight: lighter;
    }
.testimonials h5 {
    padding: 20px 0 0;
    color: #fff;
    letter-spacing: 1px;
}
.testimonials button {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 180px;
    height: 50px;
    letter-spacing: 1px;
    background-color: #A0A940;
    color: #fff;
    border: none;
    font-size: 12px;
    text-align: center;
    align-items: center;
}
.gellery {
margin-bottom: 10%;

}
.gellery .row {
width: 100%;
display: flex;
flex-direction: row;
flex-wrap: wrap;
}
.col-gell img {
width: 100%;
height: 100%;
}
.col-gell-1 img {
    width: 140%;
    height: 100%;
    margin-bottom: 20px;
    }

.col-gell {
 height: 400px;
 width: 400px;
}
.col-gell-1 {
height: 400px;
    width: 500px;
   }
   .plain {
       margin-top: 5%;
       width: 100%;
       text-align: center;

   }
   .line-2 {
       background-color:#A0A940;
       height: 1px;
       width: 40px;
margin-left: 48%;
   }
   .plain h1 {
       margin: 20px 0 0;
       font-size: 40px;
       line-height: 52px;
       font-family: Rufina, serif;
letter-spacing: 1px;
    }
    .plain h4 {
        margin: 20px 0 0;
        color: grey;
        font-size: 19px;
        font-weight: bold;
        line-height: 29px;
    }
    .plain button {
        margin-top: 40px;
        margin-bottom: 20px;
        width: 180px;
        height: 50px;
        letter-spacing: 1px;
        background-color: #A0A940;
        color: #fff;
        border: none;
        font-size: 12px;
        text-align: center;
        align-items: center;
    }
    /* ----map--- */
    .google-map {
        margin: 90px 0 0;
    }
    .footer {
        width: 100%;
        background: url(images/bg-02-free-img.png);
        height: 100vh;
        text-align: center;
    }
    .footer .row {
        display: flex;
        flex-direction: row;
    }
    .col-foot-1 h2 {
        color: #fff;
    }
    .col-foot-2 h3 {
        color: #fff;
    }
    .col-foot-2 p {
        color: #fff;
    }
    .footer img {
        margin-top: 90px;
    }
    .col-foot-1 {
        margin: 100px 150px 0;
     text-align: justify;
    }
    .col-foot-1 h2 {
        opacity: 0.7;
        font-size: 30px;
        line-height: 35px;
    }
    .col-foot-2 {
        margin: 110px 10px 0;
     text-align: justify;
    }
    .col-foot-2  P{
font-size: 14px;
line-height: 30px;
letter-spacing: 1px;
    }
    .col-foot-2  h3{
        margin-top: 50px;
        font-size: 40px;
        font-weight: lighter;
        line-height: 30px;
        letter-spacing: 1px;
            }
            .footer hr {
                margin-top: 130px;
                opacity: 0.2;
            }
            .last-footer p {
                color: white;
                text-align: left;
                margin: 30px 120px 0;
                font-weight: lighter;
                letter-spacing: 1px;
                opacity: 0.7;
            }